@{
}
<section class="benefits">


    <header class="d-none">
        <div class="container">
            <h2 class="h2 title">فواید</h2>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-gift"></i></div>
                    <figcaption>
                        <span>
                            <strong>تخفیفات هفتگی</strong> <br />
                            <small>هر هفته محصولات رو با تخفیف بخرید!</small>
                        </span>
                    </figcaption>
                </figure>
            </div>


            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-rocket"></i></div>
                    <figcaption>
                        <span>
                            <strong>تحویل سریع</strong> <br />
                            <small>ارسال سریع به سراسر کشور</small>
                        </span>
                    </figcaption>
                </figure>
            </div>


            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i> <img src="~/Theme/assets/images/icons8-support-64.png" style="width: 50px;height: 50px"/> </i></div>
                    <figcaption>
                        <span>
                            <strong>پشتیبانی سریع</strong> <br />
                            <small>پشتیبانی و مشاوره آنلاین</small>
                        </span>
                    </figcaption>
                </figure>
            </div>


            <div class="col-6 col-lg-3" data-tilt>
                <figure>
                    <div class="icon"><i class="icon icon-diamond"></i></div>
                    <figcaption>
                        <span>
                            <strong>خرید مستقیم از کشاورز</strong> <br />
                            <small>بهترین محصولات را با بهترین قیمت از دیجی آجیلی بخرید</small>
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div> 

    </div> 

</section>
