@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.EditModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ویرایش نقش @Model.Command.Name</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-12">انتخاب دسترسی ها</label>
                                    <div class="col-md-12">
                                        <select id='pre-selected-options' asp-for="Command.Permissions" asp-items="@Model.Permissions" multiple='multiple'>
                                            @*<optgroup label="زبان برنامه نویسی">
                                                <option value='elem_1'>C#</option>
                                                <option value='elem_2'>C++</option>
                                                <option value='elem_3'>PHP</option>
                                                <option value='elem_4'>Flutter</option>
                                                <option value='elem_100'>Python</option>
                                            </optgroup>*@
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">نام</label>
                                        <input type="text" class="form-control" asp-for="Command.Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id"/>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-b-5">ویرایش</button>
                            <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css
{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/AdminTheme/assets/MultiSelect/multi-select.css">
}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/assets/MultiSelect/jquery.multi-select.js"></script>
    <script type="text/javascript">
        // run pre selected options
        $('#pre-selected-options').multiSelect();
    </script>
