@model List<_01_Query.Contracts.Banner.BannerQueryModel>


<section class="instagram">

    <!--Header-->

    <header>
        <h2 class="h6 title">
            <img src="~/Theme/assets/images/icons8-instagram-100.png" alt="دیجی آجیلی اینستاگرام" title="دیجی آجیلی" />
            <br>
            <a style="font-size: 25px" href="https://www.instagram.com/digiajili/" target="_blank">DigiAjili@@</a>
        </h2>
        <h5>جهت باخبر شدن از تخفیفات، و جشنواره ها <a href="https://www.instagram.com/digiajili/" target="_blank">صفحه دیجی آجیلی</a> را در اینستاگرام دنبال کنید</h5>
    </header>
</section>
