@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<section class="not-found">
    <div class="container">
        <h1 class="title" data-title="Page not found!">404</h1>
        <div class="h4 subtitle">متاسف! صفحه یافت نشد.</div>
        <p>URL درخواستی در این سرور یافت نشد. این تمام چیزیست که ما میدانیم.</p>
        <p>کلیک <a asp-page="/Index">اینجا</a> برای رفتن به صفحه اول؟ </p>
    </div>
</section>