@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "خطا404";
    ViewData["Image"] = "Theme/assets/images/DigiAjili3 (2).ico";
    ViewData["keywords"] = "خرید پسته, پسته,درخت پسته,پسته مه ولات,پسته اکبری,پسته تازه,خرید آنلاین پسته";
    ViewData["metaDescription"] = "خرید آنلاین پسته تازه و خشک , انواع آجیل ";
}

<section class="not-found">
    <div class="container">
        <h4>@TempData["message"]</h4>
        <h1 class="title" data-title="Page not found!">404</h1>
        <div class="h4 subtitle">متاسفانه صفحه یافت نشد.</div>
        <p>اصفحه ای با این اطلاعات یافت نشد.</p>
        <p>کلیک کنید. <a asp-page="/Index">اینجا</a> برای رفتن به صفحه اول </p>
    </div>
</section>