@page "{activeCode}"
@model ServiceHost.Pages.ActiveAccountModel
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}
<section class="login">

    <header class="d-none">
        <div class="container">
            <h2 class="title">ورود و ثبت نام</h2>
            <div class="text">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                <hr />
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Index">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ورود - ثبت نام</li>
                </ol>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        @if (!string.IsNullOrWhiteSpace(Model.Message) && Model.IsSuccess)
                        {
                            <div class="alert alert-success">
                                <i class="fa fa-check"></i> @Model.Message
                            </div>
                            <br />
                            <div class="col-md-12">
                                <a class="btn btn-success" asp-page="/Account">ورود </a>
                            </div>
                            <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Message) && !Model.IsSuccess)
                        {
                            <div class="alert alert-warning">
                                <i class="fa fa-warning"></i> @Model.Message
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>