@model _01_Query.FooterModel
@{
}
<footer>

    <div class="container-fluid">

        <div class="footer-wrap">

            <div class="container">

                <!--footer showroom-->
                <div class="footer-showroom">
                    <div class="text-center">
                        <a href="/"><img src="~/Theme/assets/images/DigiAjili3.png" alt="" width="70" height="50" /></a>
                    </div>
                </div>

                <!--footer links-->
                <div class="footer-links">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>گروه محصولات</h5>
                            <ul>
                                @foreach (var productCategory in Model.ProductCategories)
                                {
                                <li><a asp-page="ProductCategory" asp-route-id="@productCategory.Slug">@productCategory.Name</a></li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>گروه مقالات</h5>
                            <ul>
                                @foreach (var articleCategory in Model.ArticleCategories)
                                {
                                    <li><a asp-page="ArticleCategory" asp-route-id="@articleCategory.Slug">@articleCategory.Name</a></li>
                                }
                            </ul>
                        </div>
                        <div class="offset-md-3 col-md-3">
                            <h5>برای دریافت خبرنامه ما ثبت نام کنید</h5>
                            <p><i>برای ثبت نام در ایمیل های ماهانه ما و دریافت پیشنهادات تبلیغاتی ، آدرس ایمیل خود را اضافه کنید.</i></p>
                            <div class="form-group form-newsletter">
                                <input class="form-control" type="text" name="email" value="" placeholder="آدرس ایمیل" />
                                <input type="submit" class="btn btn-secondary btn-sm" value="اشتراک در" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--footer social-->

                <div class="footer-social">
                    <div class="row">
                        <div class="col-sm-6 links">
                            <ul>
                                <li style="font-size: 30px"><a href="https://t.me/DigiAjili" target="_blank"><i class="fa fa-telegram"></i></a></li>
                                <li style="font-size: 30px"><a href="https://www.instagram.com/digiajili/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>