@{
}
<section class="banner">

    <div class="container-fluid">

        <div class="banner-image" style="background-image:url(/Theme/assets/images/gallery-1.jpg)">
            <!--Header-->

            <header>
                <div class="container">

                    <h2 class="h2 title">در تماس باش!</h2>
                    <div class="text">
                        <p>اولین کسی باشید که در مورد تمام ویژگی های داخلی جدید مطلع شوید</p>
                    </div>

                </div>
            </header>

            <!--Content-->

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <input type="email" class="form-control" name="name" value="" placeholder="ایمیل خود را وارد کنید">
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-clean">اکنون مشترک شوید</a>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--/container-fluid-->

</section>